In [27]:
import sqlite3
import pandas as pd

connection = sqlite3.connect("Data/aenc.sqlite")

In [28]:
Bonus = pd.read_sql("SELECT * FROM Bonus", connection)
Customer = pd.read_sql("SELECT * FROM Customer", connection)
Department = pd.read_sql("SELECT * FROM Department", connection)
Employee = pd.read_sql("SELECT * FROM Employee", connection)
Product = pd.read_sql("SELECT * FROM Product", connection)
Sales_Order = pd.read_sql("SELECT * FROM Sales_Order", connection)
Sales_Order_Item = pd.read_sql("SELECT * FROM Sales_Order_Item", connection)
State = pd.read_sql("SELECT * FROM State", connection)

In [29]:
Bonus

    emp_id bonus_date  bonus_amount
0      129  31-dec-24            50
1      195  31-dec-23            50
2      299  31-dec-23           200
3     1142  31-dec-23           100
4      129  31-dec-22            50
5      129  31-dec-23           250
6      129  31-dec-24           400
7      195  31-dec-22             0
8      195  31-dec-23           450
9      195  31-dec-24           100
10     299  31-dec-22           250
11     299  31-dec-23           850
12     299  31-dec-24           650
13     467  31-dec-22           150
14     467  31-dec-23           300
15     467  31-dec-24           300
16     667  31-dec-22           100
17     667  31-dec-23           300
18     667  31-dec-24           350
19     690  31-dec-22            50
20     690  31-dec-23           450
21     690  31-dec-24           200
22     856  31-dec-22           200
23     856  31-dec-23           350
24     856  31-dec-24           300
25     902  31-dec-22           200
26     902  31-dec-23           200
27     902  31-dec-24           100
28     949  31-dec-22           100
29     949  31-dec-23           300
30     949  31-dec-24           250
31    1142  31-dec-22            50
32    1142  31-dec-23           400
33    1142  31-dec-24           300
34    1596  31-dec-22            50
35    1596  31-dec-23           500
36    1596  31-dec-24           250

In [30]:
from sqlalchemy import create_engine
from sqlalchemy.types import Integer, String, Float, Date, Text, INTEGER

# PostgreSQL connection details
pg_user = "admin"
pg_password = "MelleWessel123"
pg_host = "132.164.25.250"  # e.g., "localhost" or an IP
pg_port = "5432"  # Default PostgreSQL port
pg_dbname = "test_db"

# Create connection string
pg_conn_str = f"postgresql+psycopg2://{pg_user}:{pg_password}@{pg_host}:{pg_port}/{pg_dbname}"

In [31]:
pg_engine = create_engine(pg_conn_str)

dtype_mapping = {
    "emp_id": INTEGER,
    "bonus_date": Date,
    "bonus_ammount": INTEGER
}

Bonus.to_sql("bonus", pg_engine, if_exists="replace", index=False, dtype=dtype_mapping)

pg_engine.dispose()