# Database Details

In [320]:
# SQLite
sqlite_path = "Data/aenc.sqlite"

#AdventureWorks
adventureworks_path = "Data/AdventureWorks.mdb"

# NorthWind
northwind_user = "sa"
northwind_password = "MelleWessel123"
northwind_host = "localhost"
northwind_port = "1433"
northwind_dbname = "master"

# PostgreSQL
pg_user = "admin"
pg_password = "MelleWessel123"
pg_host = "132.164.25.250"
pg_port = "5432"
pg_dbname = "test_db"

# Reading the SQLite database

In [321]:
import sqlite3
import pandas as pd

connection = sqlite3.connect(sqlite_path)

Bonus_AenC = pd.read_sql("SELECT * FROM Bonus", connection)
Customer_AenC = pd.read_sql("SELECT * FROM Customer", connection)
Department_AenC = pd.read_sql("SELECT * FROM Department", connection)
Employee_AenC = pd.read_sql("SELECT * FROM Employee", connection)
Product_AenC = pd.read_sql("SELECT * FROM Product", connection)
Sales_Order_AenC = pd.read_sql("SELECT * FROM Sales_Order", connection)
Sales_Order_Item_AenC = pd.read_sql("SELECT * FROM Sales_Order_Item", connection)
State_AenC = pd.read_sql("SELECT * FROM State", connection)

### Printing the tables

In [322]:
print("Bonus_AenC")
print(Bonus_AenC.head(5))

print("\n\nCustomer_AenC")
print(Customer_AenC.head(5))

print("\n\nDepartment_AenC")
print(Department_AenC.head(5))

print("\n\nEmployee_AenC")
print(Employee_AenC.head(5))

print("\n\nProduct_AenC")
print(Product_AenC.head(5))

print("\n\nSales_Order_AenC")
print(Sales_Order_AenC.head(5))

print("\n\nSales_Order_Item_AenC")
print(Sales_Order_Item_AenC.head(5))

print("\n\nState_AenC")
print(State_AenC.head(5))

Bonus_AenC
   emp_id bonus_date  bonus_amount
0     129  31-dec-24            50
1     195  31-dec-23            50
2     299  31-dec-23           200
3    1142  31-dec-23           100
4     129  31-dec-22            50


Customer_AenC
    id     fname         lname                 address        city state  \
0  101  Michaels        Devlin     3114 Pioneer Avenue  Rutherford    NJ
1  102      Beth        Reiser      1033 Whippany Road    New York    NY
2  103      Erin  Niedringhaus     1990 Windsor Street       Paoli    PA
3  104    Meghan         Mason  550 Dundas Street East   Knoxville    TN
4  105     Laura      McCarthy         1210 Highway 36      Carmel    IN

     zip       phone        company_name
0  07070  2015558966     The Power Group
1  10154  2125558725           AMF Corp.
2  19301  2155556513  Darling Associates
3  37919  6155555463              P.S.C.
4  46032  3175558437          Amo & Sons


Department_AenC
   dept_id  dept_name  dept_head_id
0      100      R & D           501
1      200      Sales           902
2      300    Finance          1293
3      400  Marketing          1576
4      500   Shipping           703


Employee_AenC
   emp_id  manager_id emp_fname emp_lname  dept_id                     street  \
0    1013         703    Joseph    Barker      500              58 West Drive
1     102         501      Fran   Whitney      100  49 East Washington Street
2    1021         902      Paul  Sterling      200        112 Endicott Street
3    1039         902  Shih Lin      Chao      200          59 Holyoke Street
4     105         501   Matthew      Cobb      100         77 Pleasant Street

        city state  zip_code       phone status  ss_number   salary  \
0    Bedford    MA      1730  6175558021      A   23470756  27290.0
1    Needham    MA      2192  6175553985      A   17349033  45700.0
2    Concord    MA      1742  5085550295      A   37846595  64900.0
3  Lexington    MA      2173  6175555921      A   46973741  33890.0
4    Waltham    MA      2154  6175553840      A   52345739  62000.0

    start_date   birth_date bene_health_ins bene_life_ins bene_day_care sex
0  10-Sep-2019  14-Feb-1996               N             Y             N   M
1  26-Feb-2013  05-Jun-1985               Y             Y             N   F
2  28-Oct-2019  27-Feb-1977               Y             Y             Y   M
3  11-Nov-2019  12-Dec-1996               N             Y             Y   M
4  02-Jul-2013  04-Dec-1987               Y             Y             N   M


Product_AenC
    id          name description          prod_size   color  quantity  \
0  300     Tee Shirt    Tank Top              Small   White        18
1  301     Tee Shirt      V-neck             Medium  Orange        39
2  302     Tee Shirt   Crew Neck  One size fits all   Black        72
3  400  Baseball Cap  Cotton Cap  One size fits all   Black        92
4  401  Baseball Cap    Wool cap  One size fits all   White        12

   unit_price picture_name     Category
0           9  tshirtw.bmp      Clothes
1          14  tshirto.bmp      Clothes
2          14  tshirtb.bmp      Clothes
3           9     capb.bmp  Accessories
4          10     capw.bmp  Accessories


Sales_Order_AenC
     id  cust_id   order_date   region  sales_rep
0  2001      101  14-Mar-2022  Eastern        299
1  2002      102  18-Mar-2022  Eastern        467
2  2003      103  21-Mar-2022  Eastern       1039
3  2004      104  23-Mar-2022    South        902
4  2005      101  24-Mar-2022  Eastern        856


Sales_Order_Item_AenC
     id  line_id  prod_id  quantity    ship_date
0  2001        1      300        12  15-Sep-2022
1  2001        2      301        12  14-Sep-2022
2  2001        3      302        12  14-Sep-2022
3  2002        1      400        24  18-Sep-2022
4  2002        2      401        24  18-Sep-2022


State_AenC
  state_id state_name state_capital country   region
0       AB    Alberta      Edmonton     CAN   Canada
1       AK     Alaska        Juneau     USA  Western
2       AL    Alabama    Montgomery     USA    South
3       AR   Arkansas   Little Rock     USA    South
4       AZ    Arizona       Phoenix     USA  Western

# Reading the AdventureWorks database

In [323]:
import subprocess
import pandas as pd
import io

tables = subprocess.run(["mdb-tables", adventureworks_path], capture_output=True, text=True).stdout.split()

dataframes = {}

for table in tables:
    result = subprocess.run(["mdb-export", adventureworks_path, table], capture_output=True)
    output_text = result.stdout.decode("latin1")
    df = pd.read_csv(io.StringIO(output_text))
    dataframes[table] = df



HumanResourcesDepartment_AdventureWorks = dataframes["HumanResources_Department"]
HumanResourcesEmployee_AdventureWorks = dataframes["HumanResources_Employee"]
PersonAddress_AdventureWorks = dataframes["Person_Address"]
Person_AdventureWorks = dataframes["Person_Person"]
ProductionBillOfMaterials_AdventureWorks = dataframes["Production_BillOfMaterials"]
Product_AdventureWorks = dataframes["Production_Product"]
ProductCategory_AdventureWorks = dataframes["Production_ProductCategory"]
PurchaseOrderDetail_AdventureWorks = dataframes["Purchasing_PurchaseOrderDetail"]
PurchaseOrderHeader_AdventureWorks = dataframes["Purchasing_PurchaseOrderHeader"]
Vendor_AdventureWorks = dataframes["Purchasing_Vendor"]
Customer_AdventureWorks = dataframes["Sales_Customer"]
SalesOrderDetail_AdventureWorks = dataframes["Sales_SalesOrderDetail"]
SalesOrderHeader_AdventureWorks = dataframes["Sales_SalesOrderHeader"]
SalesTerritory_AdventureWorks = dataframes["Sales_SalesTerritory"]
Store_AdventureWorks = dataframes["Sales_Store"]
Sysdiagrams_AdventureWorks = dataframes["sysdiagrams"]

SalesOrderHeader_AdventureWorks

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,...,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43659,8,05/31/21 00:00:00,06/12/21 00:00:00,06/07/21 00:00:00,5,0,SO43659,PO522145787,10-4020-000676,...,16281.0,105041Vi84182,NaN,20565.6206,1971.5149,616.0984,23153.2339,NaN,{79B65321-39CA-4115-9CBA8FE0903E12E6},06/07/21 00:00:00
1,43660,8,05/31/21 00:00:00,06/12/21 00:00:00,06/07/21 00:00:00,5,0,SO43660,PO18850127500,10-4020-000117,...,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,NaN,{738DC42D-D03B-48A1-9822F95A67EA7389},06/07/21 00:00:00
2,43661,8,05/31/21 00:00:00,06/12/21 00:00:00,06/07/21 00:00:00,5,0,SO43661,PO18473189620,10-4020-000442,...,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,NaN,{D91B9131-18A4-4A11-BC3A90B6F53E9D74},06/07/21 00:00:00
3,43662,8,05/31/21 00:00:00,06/12/21 00:00:00,06/07/21 00:00:00,5,0,SO43662,PO18444174044,10-4020-000227,...,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,NaN,{4A1ECFC0-CC3A-4740-B0281C50BB48711C},06/07/21 00:00:00
4,43663,8,05/31/21 00:00:00,06/12/21 00:00:00,06/07/21 00:00:00,5,0,SO43663,PO18009186470,10-4020-000510,...,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,NaN,{9B1E7A40-6AE0-4AD3-811CA64951857C4B},06/07/21 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31460,75119,8,06/30/24 00:00:00,07/12/24 00:00:00,07/07/24 00:00:00,5,-1,SO75119,NaN,10-4030-011981,...,6761.0,429826Vi35166,NaN,42.2800,3.3824,1.0570,46.7194,NaN,{9382F1C9-383A-435F-94490EECEA21B78D},07/07/24 00:00:00
31461,75120,8,06/30/24 00:00:00,07/12/24 00:00:00,07/07/24 00:00:00,5,-1,SO75120,NaN,10-4030-018749,...,8925.0,929849Vi46003,NaN,84.9600,6.7968,2.1240,93.8808,NaN,{AE6A4FCF-FF73-4CD4-AF2C5993D00D4AFE},07/07/24 00:00:00
31462,75121,8,06/30/24 00:00:00,07/12/24 00:00:00,07/07/24 00:00:00,5,-1,SO75121,NaN,10-4030-015251,...,14220.0,529864Vi73738,NaN,74.9800,5.9984,1.8745,82.8529,NaN,{D7395C0E-00CB-4BFA-A2380D6A9F49884F},07/07/24 00:00:00
31463,75122,8,06/30/24 00:00:00,07/12/24 00:00:00,07/07/24 00:00:00,5,-1,SO75122,NaN,10-4030-015868,...,18719.0,330022Vi97312,NaN,30.9700,2.4776,0.7743,34.2219,NaN,{4221035A-4159-492F-AF404363A64FFC16},07/07/24 00:00:00
31464,75123,8,06/30/24 00:00:00,07/12/24 00:00:00,07/07/24 00:00:00,5,-1,SO75123,NaN,10-4030-018759,...,10084.0,230370Vi51970,NaN,189.9700,15.1976,4.7493,209.9169,NaN,{D54752FF-2B54-4BE5-95EA3B72289C059F},07/07/24 00:00:00

### Printing the tables

In [324]:
print("HumanResources_Department")
print(HumanResourcesDepartment_AdventureWorks.head(5))

print("\n\nHumanResources_Employee")
print(HumanResourcesEmployee_AdventureWorks.head(5))

print("\n\nPerson_Address")
print(PersonAddress_AdventureWorks.head(5))

print("\n\nPerson_Person")
print(Person_AdventureWorks.head(5))

print("\n\nProduction_BillOfMaterials")
print(ProductionBillOfMaterials_AdventureWorks.head(5))

print("\n\nProduction_Product")
print(Product_AdventureWorks.head(5))

print("\n\nProduction_ProductCategory")
print(ProductCategory_AdventureWorks.head(5))

print("\n\nPurchasing_PurchaseOrderDetail")
print(PurchaseOrderDetail_AdventureWorks.head(5))

print("\n\nPurchasing_PurchaseOrderHeader")
print(PurchaseOrderHeader_AdventureWorks.head(5))

print("\n\nPurchasing_Vendor")
print(Vendor_AdventureWorks.head(5))

print("\n\nSales_Customer")
print(Customer_AdventureWorks.head(5))

print("\n\nSales_SalesOrderDetail")
print(SalesOrderDetail_AdventureWorks.head(5))

print("\n\nSales_SalesOrderHeader")
print(SalesOrderHeader_AdventureWorks.head(5))

print("\n\nSales_SalesTerritory")
print(SalesTerritory_AdventureWorks.head(5))

print("\n\nSales_Store")
print(Store_AdventureWorks.head(5))

print("\n\nsysdiagrams")
print(Sysdiagrams_AdventureWorks.head(5))

HumanResources_Department
   DepartmentID         Name                 GroupName       ModifiedDate
0             1  Engineering  Research and Development  04/30/18 00:00:00
1             2  Tool Design  Research and Development  04/30/18 00:00:00
2             3        Sales       Sales and Marketing  04/30/18 00:00:00
3             4    Marketing       Sales and Marketing  04/30/18 00:00:00
4             5   Purchasing      Inventory Management  04/30/18 00:00:00


HumanResources_Employee
   BusinessEntityID  NationalIDNumber                   LoginID  \
0                 1         295847284      adventure-works\ken0
1                 2         245797967    adventure-works\terri0
2                 3         509647174  adventure-works\roberto0
3                 4         112457891      adventure-works\rob0
4                 5         695256908     adventure-works\gail0

  OrganizationNode  OrganizationLevel                       JobTitle  \
0              NaN                NaN        Chief Executive Officer
1                X                1.0  Vice President of Engineering
2               ZÀ                2.0            Engineering Manager
3               ZÖ                3.0           Senior Tool Designer
4               ZÚ                3.0                Design Engineer

    BirthDate MaritalStatus Gender    HireDate  SalariedFlag  VacationHours  \
0  1979-01-29             S      M  2019-01-14            -1             99
1  1981-08-01             S      F  2018-01-31            -1              1
2  1984-11-12             M      M  2017-11-11            -1              2
3  1984-12-23             S      M  2017-12-05             0             48
4  1962-09-27             M      F  2018-01-06            -1              5

   SickLeaveHours  CurrentFlag                                rowguid  \
0              69           -1  {F01251E5-96A3-448D-981E0F99D789110D}
1              20           -1  {45E8F437-670D-4409-93CBF9424A40D6EE}
2              21           -1  {9BBBFB2C-EFBB-4217-9AB7F97689328841}
3              80           -1  {59747955-87B8-443F-8ED4F8AD3AFDF3A9}
4              22           -1  {EC84AE09-F9B8-4A15-B4A96CCBAB919B08}

        ModifiedDate  DepartmentID
0  06/30/24 00:00:00            16
1  06/30/24 00:00:00             1
2  06/30/24 00:00:00             1
3  06/30/24 00:00:00             2
4  06/30/24 00:00:00             1


Person_Address
   AddressID          AddressLine1 AddressLine2     City  StateProvinceID  \
0          1         1970 Napa Ct.          NaN  Bothell               79
1          2    9833 Mt. Dias Blv.          NaN  Bothell               79
2          3  7484 Roundtree Drive          NaN  Bothell               79
3          4      9539 Glenside Dr          NaN  Bothell               79
4          5         1226 Shoe St.          NaN  Bothell               79

  PostalCode SpatialLocation                                rowguid  \
0      98011              æ  {9AADCB0D-36CF-483F-84D8585C2D4EC6E9}
1      98011              æ  {32A54B9E-E034-4BFB-B573A71CDE60D8C0}
2      98011              æ  {4C506923-6D1B-452C-A07CBAA6F5B142A4}
3      98011              æ  {E5946C78-4BCC-477F-9FA1CC09DE16A880}
4      98011              æ  {FBAFF937-4A97-4AF0-81FDB849900E9BB0}

        ModifiedDate  BusinessEntityID
0  12/04/17 00:00:00                12
1  11/30/18 00:00:00               123
2  03/07/23 00:00:00               285
3  02/03/19 00:00:00               251
4  12/19/18 00:00:00               124


Person_Person
   BusinessEntityID PersonType  NameStyle Title FirstName MiddleName  \
0                 1         EM          0   NaN       Ken          J
1                 2         EM          0   NaN     Terri        Lee
2                 3         EM          0   NaN   Roberto        NaN
3                 4         EM          0   NaN       Rob        NaN
4                 5         EM          0   Ms.      Gail          A

     LastName Suffix  EmailPromotion                                rowguid  \
0    SÃ¡nchez    NaN               0  {92C4279F-1207-48A3-84484636514EB7E2}
1       Duffy    NaN               1  {D8763459-8AA8-47CC-AFF7C9079AF79033}
2  Tamburello    NaN               0  {E1A2555E-0828-434B-A33B6F38136A37DE}
3     Walters    NaN               0  {F2D7CE06-38B3-4357-805BF4B6B71C01FF}
4    Erickson    NaN               0  {F3A3F6B4-AE3B-430C-A7549F2231BA6FEF}

        ModifiedDate
0  01/07/19 00:00:00
1  01/24/18 00:00:00
2  11/04/17 00:00:00
3  11/28/17 00:00:00
4  12/30/17 00:00:00


Production_BillOfMaterials
   BillOfMaterialsID  ProductAssemblyID  ComponentID          StartDate  \
0                  1              807.0            1  03/04/20 00:00:00
1                  2              782.0          995  03/04/20 00:00:00
2                  3                NaN          989  03/04/20 00:00:00
3                  4                NaN          785  03/04/20 00:00:00
4                  5                NaN          775  03/04/20 00:00:00

  EndDate UnitMeasureCode  BOMLevel  PerAssemblyQty       ModifiedDate
0     NaN             EA          2             1.0  02/18/20 00:00:00
1     NaN             EA          1             1.0  02/18/20 00:00:00
2     NaN             EA          0             1.0  02/18/20 00:00:00
3     NaN             EA          0             1.0  02/18/20 00:00:00
4     NaN             EA          0             1.0  02/18/20 00:00:00


Production_Product
   ProductID                   Name ProductNumber  MakeFlag  \
0          1        Adjustable Race       AR-5381         0
1          2           Bearing Ball       BA-8327         0
2          3        BB Ball Bearing       BE-2349        -1
3          4  Headset Ball Bearings       BE-2908         0
4        316                  Blade       BL-2036        -1

   FinishedGoodsFlag Color  SafetyStockLevel  ReorderPoint  StandardCost  \
0                  0   NaN              1000           750           0.0
1                  0   NaN              1000           750           0.0
2                  0   NaN               800           600           0.0
3                  0   NaN               800           600           0.0
4                  0   NaN               800           600           0.0

   ListPrice  ... Class Style ProductSubcategoryID  ProductModelID  \
0        0.0  ...   NaN   NaN                  NaN             NaN
1        0.0  ...   NaN   NaN                  NaN             NaN
2        0.0  ...   NaN   NaN                  NaN             NaN
3        0.0  ...   NaN   NaN                  NaN             NaN
4        0.0  ...   NaN   NaN                  NaN             NaN

       SellStartDate SellEndDate DiscontinuedDate  \
0  04/30/18 00:00:00         NaN              NaN
1  04/30/18 00:00:00         NaN              NaN
2  04/30/18 00:00:00         NaN              NaN
3  04/30/18 00:00:00         NaN              NaN
4  04/30/18 00:00:00         NaN              NaN

                                 rowguid       ModifiedDate  ProductCategoryID
0  {694215B7-08F7-4C0D-ACB1D734BA44C0C8}  02/08/24 10:01:37                NaN
1  {58AE3C20-4F3A-4749-A7D4D568806CC537}  02/08/24 10:01:37                NaN
2  {9C21AED2-5BFA-4F18-BCB8F11638DC2E4E}  02/08/24 10:01:37                NaN
3  {ECFED6CB-51FF-49B5-B06C7D8AC834DB8B}  02/08/24 10:01:37                NaN
4  {E73E9750-603B-4131-89F53DD15ED5FF80}  02/08/24 10:01:37                NaN

[5 rows x 26 columns]


Production_ProductCategory
   ProductCategoryID         Name                                rowguid  \
0                  1        Bikes  {CFBDA25C-DF71-47A7-B81B64EE161AA37C}
1                  2   Components  {C657828D-D808-4ABA-91A3AF2CE02300E9}
2                  3     Clothing  {10A7C342-CA82-48D4-8A3846A2EB089B74}
3                  4  Accessories  {2BE3BE36-D9A2-4EEE-B593ED895D97C2A6}

        ModifiedDate
0  04/30/18 00:00:00
1  04/30/18 00:00:00
2  04/30/18 00:00:00
3  04/30/18 00:00:00


Purchasing_PurchaseOrderDetail
   PurchaseOrderID  PurchaseOrderDetailID            DueDate  OrderQty  \
0                1                      1  04/30/21 00:00:00         4
1                2                      2  04/30/21 00:00:00         3
2                2                      3  04/30/21 00:00:00         3
3                3                      4  04/30/21 00:00:00       550
4                4                      5  04/30/21 00:00:00         3

   ProductID  UnitPrice  LineTotal  ReceivedQty  RejectedQty  StockedQty  \
0          1    50.2600   201.0400          3.0          0.0         3.0
1        359    45.1200   135.3600          3.0          0.0         3.0
2        360    45.5805   136.7415          3.0          0.0         3.0
3        530    16.0860  8847.3000        550.0          0.0       550.0
4          4    57.0255   171.0765          2.0          1.0         1.0

        ModifiedDate
0  04/23/21 00:00:00
1  04/23/21 00:00:00
2  04/23/21 00:00:00
3  04/23/21 00:00:00
4  04/23/21 00:00:00


Purchasing_PurchaseOrderHeader
   PurchaseOrderID  RevisionNumber  Status  EmployeeID  VendorID  \
0                1               4       4         258      1580
1                2               4       1         254      1496
2                3               4       4         257      1494
3                4               4       3         261      1650
4                5               4       4         251      1654

   ShipMethodID          OrderDate           ShipDate    SubTotal     TaxAmt  \
0             3  04/16/21 00:00:00  04/25/21 00:00:00    201.0400    16.0832
1             5  04/16/21 00:00:00  04/25/21 00:00:00    272.1015    21.7681
2             2  04/16/21 00:00:00  04/25/21 00:00:00   8847.3000   707.7840
3             5  04/16/21 00:00:00  04/25/21 00:00:00    171.0765    13.6861
4             4  04/30/21 00:00:00  05/09/21 00:00:00  20397.3000  1631.7840

    Freight    TotalDue       ModifiedDate
0    5.0260    222.1492  04/25/21 00:00:00
1    6.8025    300.6721  04/25/21 00:00:00
2  221.1825   9776.2665  04/25/21 00:00:00
3    4.2769    189.0395  04/25/21 00:00:00
4  509.9325  22539.0165  05/09/21 00:00:00


Purchasing_Vendor
   BusinessEntityID AccountNumber                     Name  CreditRating  \
0              1492  AUSTRALI0001  Australia Bike Retailer             1
1              1494  ALLENSON0001          Allenson Cycles             2
2              1496  ADVANCED0001        Advanced Bicycles             1
3              1498    TRIKES0001             Trikes, Inc.             2
4              1500   MORGANB0001  Morgan Bike Accessories             1

   PreferredVendorStatus  ActiveFlag PurchasingWebServiceURL  \
0                     -1          -1                     NaN
1                     -1          -1                     NaN
2                     -1          -1                     NaN
3                     -1          -1                     NaN
4                     -1          -1                     NaN

        ModifiedDate
0  12/23/21 00:00:00
1  04/25/21 00:00:00
2  04/25/21 00:00:00
3  02/03/22 00:00:00
4  02/02/22 00:00:00


Sales_Customer
   CustomerID  PersonID  StoreID  TerritoryID AccountNumber  \
0           1       NaN    934.0            1    AW00000001
1           2       NaN   1028.0            1    AW00000002
2           3       NaN    642.0            4    AW00000003
3           4       NaN    932.0            4    AW00000004
4           5       NaN   1026.0            4    AW00000005

                                 rowguid       ModifiedDate
0  {3F5AE95E-B87D-4AED-95B4C3797AFCB74F}  09/12/24 11:15:07
1  {E552F657-A9AF-4A7D-A645C429D6E02491}  09/12/24 11:15:07
2  {130774B1-DB21-4EF3-98C8C104BCD6ED6D}  09/12/24 11:15:07
3  {FF862851-1DAA-4044-BE7C3E85583C054D}  09/12/24 11:15:07
4  {83905BDC-6F5E-4F71-B162C98DA069F38A}  09/12/24 11:15:07


Sales_SalesOrderDetail
   SalesOrderID  SalesOrderDetailID CarrierTrackingNumber  OrderQty  \
0         43659                   1          4911-403C-98         1
1         43659                   2          4911-403C-98         3
2         43659                   3          4911-403C-98         1
3         43659                   4          4911-403C-98         1
4         43659                   5          4911-403C-98         1

   ProductID  SpecialOfferID  UnitPrice  UnitPriceDiscount  LineTotal  \
0        776               1   2024.994                0.0   2024.994
1        777               1   2024.994                0.0   6074.982
2        778               1   2024.994                0.0   2024.994
3        771               1   2039.994                0.0   2039.994
4        772               1   2039.994                0.0   2039.994

                                 rowguid       ModifiedDate
0  {B207C96D-D9E6-402B-84702CC176C42283}  05/31/21 00:00:00
1  {7ABB600D-1E77-41BE-9FE5B9142CFC08FA}  05/31/21 00:00:00
2  {475CF8C6-49F6-486E-B0ADAFC6A50CDD2F}  05/31/21 00:00:00
3  {04C4DE91-5815-45D6-8670F462719FBCE3}  05/31/21 00:00:00
4  {5A74C7D2-E641-438E-A7AC37BF23280301}  05/31/21 00:00:00


Sales_SalesOrderHeader
   SalesOrderID  RevisionNumber          OrderDate            DueDate  \
0         43659               8  05/31/21 00:00:00  06/12/21 00:00:00
1         43660               8  05/31/21 00:00:00  06/12/21 00:00:00
2         43661               8  05/31/21 00:00:00  06/12/21 00:00:00
3         43662               8  05/31/21 00:00:00  06/12/21 00:00:00
4         43663               8  05/31/21 00:00:00  06/12/21 00:00:00

            ShipDate  Status  OnlineOrderFlag SalesOrderNumber  \
0  06/07/21 00:00:00       5                0          SO43659
1  06/07/21 00:00:00       5                0          SO43660
2  06/07/21 00:00:00       5                0          SO43661
3  06/07/21 00:00:00       5                0          SO43662
4  06/07/21 00:00:00       5                0          SO43663

  PurchaseOrderNumber   AccountNumber  ...  CreditCardID  \
0         PO522145787  10-4020-000676  ...       16281.0
1       PO18850127500  10-4020-000117  ...        5618.0
2       PO18473189620  10-4020-000442  ...        1346.0
3       PO18444174044  10-4020-000227  ...       10456.0
4       PO18009186470  10-4020-000510  ...        4322.0

   CreditCardApprovalCode  CurrencyRateID    SubTotal     TaxAmt   Freight  \
0           105041Vi84182             NaN  20565.6206  1971.5149  616.0984
1           115213Vi29411             NaN   1294.2529   124.2483   38.8276
2             85274Vi6854             4.0  32726.4786  3153.7696  985.5530
3           125295Vi53935             4.0  28832.5289  2775.1646  867.2389
4            45303Vi22691             NaN    419.4589    40.2681   12.5838

     TotalDue Comment                                rowguid  \
0  23153.2339     NaN  {79B65321-39CA-4115-9CBA8FE0903E12E6}
1   1457.3288     NaN  {738DC42D-D03B-48A1-9822F95A67EA7389}
2  36865.8012     NaN  {D91B9131-18A4-4A11-BC3A90B6F53E9D74}
3  32474.9324     NaN  {4A1ECFC0-CC3A-4740-B0281C50BB48711C}
4    472.3108     NaN  {9B1E7A40-6AE0-4AD3-811CA64951857C4B}

        ModifiedDate
0  06/07/21 00:00:00
1  06/07/21 00:00:00
2  06/07/21 00:00:00
3  06/07/21 00:00:00
4  06/07/21 00:00:00

[5 rows x 26 columns]


Sales_SalesTerritory
   TerritoryID       Name CountryRegionCode          Group      SalesYTD  \
0            1  Northwest                US  North America  7.887187e+06
1            2  Northeast                US  North America  2.402177e+06
2            3    Central                US  North America  3.072175e+06
3            4  Southwest                US  North America  1.051085e+07
4            5  Southeast                US  North America  2.538667e+06

   SalesLastYear  CostYTD  CostLastYear  \
0   3.298694e+06      0.0           0.0
1   3.607149e+06      0.0           0.0
2   3.205014e+06      0.0           0.0
3   5.366576e+06      0.0           0.0
4   3.925071e+06      0.0           0.0

                                 rowguid       ModifiedDate
0  {43689A10-E30B-497F-B0DE11DE20267FF7}  04/30/08 00:00:00
1  {00FB7309-96CC-49E2-83630A1BA72486F2}  04/30/08 00:00:00
2  {DF6E7FD8-1A8D-468C-B103ED8ADDB452C1}  04/30/08 00:00:00
3  {DC3E9EA0-7950-4431-942899DBCBC33865}  04/30/08 00:00:00
4  {6DC4165A-5E4C-42D2-809D4344E0AC75E7}  04/30/08 00:00:00


Sales_Store
   BusinessEntityID                            Name  SalesPersonID  \
0               292            Next-Door Bike Store            279
1               294  Professional Sales and Service            276
2               296                  Riders Company            277
3               298              The Bike Mechanics            275
4               300               Nationwide Supply            286

                                 rowguid       ModifiedDate
0  {A22517E3-848D-4EBE-B9D97437F3432304}  09/12/14 11:15:07
1  {B50CA50B-C601-4A13-B07E2C63862D71B4}  09/12/14 11:15:07
2  {337C3688-1339-4E1A-A08AB54B23566E49}  09/12/14 11:15:07
3  {7894F278-F0C8-4D16-BD75213FDBF13023}  09/12/14 11:15:07
4  {C3FC9705-A8C4-4F3A-9550EB2FA4B7B64D}  09/12/14 11:15:07


sysdiagrams
            name  principal_id  diagram_id  version definition
0  Class_Diagram             1           1        1   ÐÏà¡±á

# Reading the NorthWind database

In [325]:
from sqlalchemy import create_engine

northwind_conn_str = f"mssql+pyodbc://{northwind_user}:{northwind_password}@{northwind_host}:{northwind_port}/{northwind_dbname}?driver=ODBC+Driver+17+for+SQL+Server"

engine = create_engine(northwind_conn_str)

Categories_NorthWind = pd.read_sql("SELECT * FROM Categories", engine)
CustomerCustomerDemo_NorthWind = pd.read_sql("SELECT * FROM CustomerCustomerDemo", engine)
CustomerDemographics_NorthWind = pd.read_sql("SELECT * FROM CustomerDemographics", engine)
Customers_NorthWind = pd.read_sql("SELECT * FROM Customers", engine)
EmployeeTerritories_NorthWind = pd.read_sql("SELECT * FROM EmployeeTerritories", engine)
Employees_NorthWind = pd.read_sql("SELECT * FROM Employees", engine)
OrderDetails_NorthWind = pd.read_sql("SELECT * FROM [Order Details]", engine)
Orders_NorthWind = pd.read_sql("SELECT * FROM Orders", engine)
Products_NorthWind = pd.read_sql("SELECT * FROM Products", engine)
Region_NorthWind = pd.read_sql("SELECT * FROM Region", engine)
Shippers_NorthWind = pd.read_sql("SELECT * FROM Shippers", engine)
Suppliers_NorthWind = pd.read_sql("SELECT * FROM Suppliers", engine)
Territories_NorthWind = pd.read_sql("SELECT * FROM Territories", engine)

### Printing the tables

In [326]:
print("Categories_NorthWind")
print(Categories_NorthWind.head(5))

print("\n\nCustomerCustomerDemo_NorthWind")
print(CustomerCustomerDemo_NorthWind.head(5))

print("\n\nCustomerDemographics_NorthWind")
print(CustomerDemographics_NorthWind.head(5))

print("\n\nCustomers_NorthWind")
print(Customers_NorthWind.head(5))

print("\n\nEmployeeTerritories_NorthWind")
print(EmployeeTerritories_NorthWind.head(5))

print("\n\nEmployees_NorthWind")
print(Employees_NorthWind.head(5))

print("\n\nOrderDetails_NorthWind")
print(OrderDetails_NorthWind.head(5))

print("\n\nOrders_NorthWind")
print(Orders_NorthWind.head(5))

print("\n\nProducts_NorthWind")
print(Products_NorthWind.head(5))

print("\n\nRegion_NorthWind")
print(Region_NorthWind.head(5))

print("\n\nShippers_NorthWind")
print(Shippers_NorthWind.head(5))

print("\n\nSuppliers_NorthWind")
print(Suppliers_NorthWind.head(5))

print("\n\nTerritories_NorthWind")
print(Territories_NorthWind.head(5))

Categories_NorthWind
Empty DataFrame
Columns: [CategoryID, CategoryName, Description, Picture]
Index: []


CustomerCustomerDemo_NorthWind
Empty DataFrame
Columns: [CustomerID, CustomerTypeID]
Index: []


CustomerDemographics_NorthWind
Empty DataFrame
Columns: [CustomerTypeID, CustomerDesc]
Index: []


Customers_NorthWind
  CustomerID                         CompanyName         ContactName  \
0      ALFKI                 Alfreds Futterkiste        Maria Anders
1      ANATR  Ana Trujillo Emparedados y helados        Ana Trujillo
2      ANTON             Antonio Moreno Taquería      Antonio Moreno
3      AROUT                     Around the Horn        Thomas Hardy
4      BERGS                  Berglunds snabbköp  Christina Berglund

           ContactTitle                        Address         City Region  \
0  Sales Representative                  Obere Str. 57       Berlin   None
1                 Owner  Avda. de la Constitución 2222  México D.F.   None
2                 Owner                Mataderos  2312  México D.F.   None
3  Sales Representative                120 Hanover Sq.       London   None
4   Order Administrator                Berguvsvägen  8        Luleå   None

  PostalCode  Country           Phone             Fax
0      12209  Germany     030-0074321     030-0076545
1      05021   Mexico    (5) 555-4729    (5) 555-3745
2      05023   Mexico    (5) 555-3932            None
3    WA1 1DP       UK  (171) 555-7788  (171) 555-6750
4   S-958 22   Sweden   0921-12 34 65   0921-12 34 67


EmployeeTerritories_NorthWind
   EmployeeID TerritoryID
0           1       06897
1           1       19713
2           2       01581
3           2       01730
4           2       01833


Employees_NorthWind
Empty DataFrame
Columns: [EmployeeID, LastName, FirstName, Title, TitleOfCourtesy, BirthDate, HireDate, Address, City, Region, PostalCode, Country, HomePhone, Extension, Photo, Notes, ReportsTo, PhotoPath]
Index: []


OrderDetails_NorthWind
Empty DataFrame
Columns: [OrderID, ProductID, UnitPrice, Quantity, Discount]
Index: []


Orders_NorthWind
Empty DataFrame
Columns: [OrderID, CustomerID, EmployeeID, OrderDate, RequiredDate, ShippedDate, ShipVia, Freight, ShipName, ShipAddress, ShipCity, ShipRegion, ShipPostalCode, ShipCountry]
Index: []


Products_NorthWind
Empty DataFrame
Columns: [ProductID, ProductName, SupplierID, CategoryID, QuantityPerUnit, UnitPrice, UnitsInStock, UnitsOnOrder, ReorderLevel, Discontinued]
Index: []


Region_NorthWind
   RegionID                                  RegionDescription
0         1  Eastern                                       ...
1         2  Western                                       ...
2         3  Northern                                      ...
3         4  Southern                                      ...


Shippers_NorthWind
   ShipperID       CompanyName           Phone
0          1    Speedy Express  (503) 555-9831
1          2    United Package  (503) 555-3199
2          3  Federal Shipping  (503) 555-9931


Suppliers_NorthWind
   SupplierID                         CompanyName                 ContactName  \
0           1                      Exotic Liquids            Charlotte Cooper
1           2          New Orleans Cajun Delights               Shelley Burke
2           3           Grandma Kelly's Homestead               Regina Murphy
3           4                       Tokyo Traders                Yoshi Nagase
4           5  Cooperativa de Quesos 'Las Cabras'  Antonio del Valle Saavedra

           ContactTitle                    Address         City    Region  \
0    Purchasing Manager             49 Gilbert St.       London      None
1   Order Administrator             P.O. Box 78934  New Orleans        LA
2  Sales Representative             707 Oxford Rd.    Ann Arbor        MI
3     Marketing Manager  9-8 Sekimai Musashino-shi        Tokyo      None
4  Export Administrator          Calle del Rosal 4       Oviedo  Asturias

  PostalCode Country           Phone             Fax     HomePage
0    EC1 4SD      UK  (171) 555-2222            None         None
1      70117     USA  (100) 555-4822            None  #CAJUN.HTM#
2      48104     USA  (313) 555-5735  (313) 555-3349         None
3        100   Japan  (03) 3555-5011            None         None
4      33007   Spain  (98) 598 76 54            None         None


Territories_NorthWind
  TerritoryID                               TerritoryDescription  RegionID
0       01581  Westboro                                      ...         1
1       01730  Bedford                                       ...         1
2       01833  Georgetow                                     ...         1
3       02116  Boston                                        ...         1
4       02139  Cambridge                                     ...         1

# Normalizing the data

### SQLite Database

In [327]:
column_mapping_aenc = {
    # Bonus_AenC
    "emp_id": "EmployeeID",
    "bonus_date": "BonusDate",
    "bonus_amount": "BonusAmount",

    # Customer_AenC
    "id": "CustomerID",
    "fname": "FirstName",
    "lname": "LastName",
    "address": "StreetAddress",
    "city": "City",
    "state": "State",
    "zip": "ZipCode",
    "phone": "PhoneNumber",
    "company_name": "CompanyName",

    # Department_AenC
    "dept_id": "DepartmentID",
    "dept_name": "DepartmentName",
    "dept_head_id": "DepartmentHeadID",

    # Employee_AenC
    "emp_id": "EmployeeID",
    "manager_id": "ManagerID",
    "emp_fname": "FirstName",
    "emp_lname": "LastName",
    "dept_id": "DepartmentID",
    "street": "StreetAddress",
    "city": "City",
    "state": "State",
    "zip_code": "ZipCode",
    "phone": "PhoneNumber",
    "status": "EmploymentStatus",
    "ss_number": "SSN",
    "salary": "Salary",
    "start_date": "StartDate",
    "birth_date": "BirthDate",
    "bene_health_ins": "HealthInsurance",
    "bene_life_ins": "LifeInsurance",
    "bene_day_care": "DayCareBenefit",
    "sex": "Gender",

    # Product_AenC
    "id": "ProductID",
    "name": "ProductName",
    "description": "ProductDescription",
    "prod_size": "ProductSize",
    "color": "ProductColor",
    "quantity": "QuantityInStock",
    "unit_price": "UnitPrice",
    "picture_name": "ProductImage",
    "Category": "CategoryName",

    # Sales_Order_AenC
    "id": "SalesOrderID",
    "cust_id": "CustomerID",
    "order_date": "OrderDate",
    "region": "Region",
    "sales_rep": "EmployeeID",

    # Sales_Order_Item_AenC
    "id": "SalesOrderID",
    "line_id": "OrderLineID",
    "prod_id": "ProductID",
    "quantity": "OrderQuantity",
    "ship_date": "ShippedDate",

    # State_AenC
    "state_id": "StateID",
    "state_name": "StateName",
    "state_capital": "StateCapital",
    "country": "Country",
    "region": "Region"
}

Bonus_AenC.rename(columns=column_mapping_aenc, inplace=True)
Customer_AenC.rename(columns=column_mapping_aenc, inplace=True)
Department_AenC.rename(columns=column_mapping_aenc, inplace=True)
Employee_AenC.rename(columns=column_mapping_aenc, inplace=True)
Product_AenC.rename(columns=column_mapping_aenc, inplace=True)
Sales_Order_AenC.rename(columns=column_mapping_aenc, inplace=True)
Sales_Order_Item_AenC.rename(columns=column_mapping_aenc, inplace=True)
State_AenC.rename(columns=column_mapping_aenc, inplace=True)

### AdventureWorks Database

In [328]:
column_mapping_adventureworks = {
    # HumanResources_Department
    "DepartmentID": "DepartmentID",
    "Name": "DepartmentName",
    "GroupName": "DepartmentGroup",
    "ModifiedDate": "DepartmentModifiedDate",

    # HumanResources_Employee
    "BusinessEntityID": "EmployeeID",
    "NationalIDNumber": "NationalID",
    "LoginID": "LoginID",
    "OrganizationNode": "OrganizationNode",
    "OrganizationLevel": "OrganizationLevel",
    "JobTitle": "JobTitle",
    "BirthDate": "BirthDate",
    "MaritalStatus": "MaritalStatus",
    "Gender": "Gender",
    "HireDate": "HireDate",
    "SalariedFlag": "SalariedFlag",
    "VacationHours": "VacationHours",
    "SickLeaveHours": "SickLeaveHours",
    "CurrentFlag": "CurrentEmployeeFlag",
    "rowguid": "RowGUID",
    "ModifiedDate": "EmployeeModifiedDate",
    "DepartmentID": "DepartmentID",

    # Person_Address
    "AddressID": "AddressID",
    "AddressLine1": "AddressLine1",
    "AddressLine2": "AddressLine2",
    "City": "City",
    "StateProvinceID": "StateProvinceID",
    "PostalCode": "PostalCode",
    "SpatialLocation": "SpatialLocation",
    "rowguid": "RowGUID",
    "ModifiedDate": "AddressModifiedDate",
    "BusinessEntityID": "EmployeeID",

    # Person_Person
    "BusinessEntityID": "EmployeeID",
    "PersonType": "PersonType",
    "NameStyle": "NameStyle",
    "Title": "Title",
    "FirstName": "FirstName",
    "MiddleName": "MiddleName",
    "LastName": "LastName",
    "Suffix": "Suffix",
    "EmailPromotion": "EmailPromotion",
    "rowguid": "RowGUID",
    "ModifiedDate": "PersonModifiedDate",

    # Production_BillOfMaterials
    "BillOfMaterialsID": "BillOfMaterialsID",
    "ProductAssemblyID": "ProductAssemblyID",
    "ComponentID": "ComponentID",
    "StartDate": "StartDate",
    "EndDate": "EndDate",
    "UnitMeasureCode": "UnitMeasureCode",
    "BOMLevel": "BOMLevel",
    "PerAssemblyQty": "PerAssemblyQuantity",
    "ModifiedDate": "BOMModifiedDate",

    # Production_Product
    "ProductID": "ProductID",
    "Name": "ProductName",
    "ProductNumber": "ProductNumber",
    "MakeFlag": "MakeFlag",
    "FinishedGoodsFlag": "FinishedGoodsFlag",
    "Color": "ProductColor",
    "SafetyStockLevel": "SafetyStockLevel",
    "ReorderPoint": "ReorderPoint",
    "StandardCost": "StandardCost",
    "ListPrice": "ListPrice",
    "SellStartDate": "SellStartDate",
    "SellEndDate": "SellEndDate",
    "DiscontinuedDate": "DiscontinuedDate",
    "RowGUID": "RowGUID",
    "ProductCategoryID": "ProductCategoryID",
    "ModifiedDate": "ProductModifiedDate",

    # Production_ProductCategory
    "ProductCategoryID": "ProductCategoryID",
    "Name": "CategoryName",
    "RowGUID": "RowGUID",
    "ModifiedDate": "CategoryModifiedDate",

    # Purchasing_PurchaseOrderDetail
    "PurchaseOrderID": "PurchaseOrderID",
    "PurchaseOrderDetailID": "PurchaseOrderDetailID",
    "DueDate": "DueDate",
    "OrderQty": "OrderQuantity",
    "ProductID": "ProductID",
    "UnitPrice": "UnitPrice",
    "LineTotal": "LineTotal",
    "ReceivedQty": "ReceivedQuantity",
    "RejectedQty": "RejectedQuantity",
    "StockedQty": "StockedQuantity",
    "ModifiedDate": "PurchaseOrderDetailModifiedDate",

    # Purchasing_PurchaseOrderHeader
    "PurchaseOrderID": "PurchaseOrderID",
    "RevisionNumber": "RevisionNumber",
    "Status": "OrderStatus",
    "EmployeeID": "EmployeeID",
    "VendorID": "VendorID",
    "ShipMethodID": "ShipMethodID",
    "OrderDate": "OrderDate",
    "ShipDate": "ShippedDate",
    "SubTotal": "SubTotal",
    "TaxAmt": "TaxAmount",
    "Freight": "Freight",
    "TotalDue": "TotalDue",
    "ModifiedDate": "PurchaseOrderHeaderModifiedDate",

    # Purchasing_Vendor
    "BusinessEntityID": "VendorID",
    "AccountNumber": "AccountNumber",
    "Name": "VendorName",
    "CreditRating": "CreditRating",
    "PreferredVendorStatus": "PreferredVendorStatus",
    "ActiveFlag": "ActiveFlag",
    "PurchasingWebServiceURL": "PurchasingWebServiceURL",
    "ModifiedDate": "VendorModifiedDate",

    # Sales_Customer
    "CustomerID": "CustomerID",
    "PersonID": "PersonID",
    "StoreID": "StoreID",
    "TerritoryID": "TerritoryID",
    "AccountNumber": "AccountNumber",
    "RowGUID": "RowGUID",
    "ModifiedDate": "CustomerModifiedDate",

    # Sales_SalesOrderDetail
    "SalesOrderID": "SalesOrderID",
    "SalesOrderDetailID": "SalesOrderDetailID",
    "CarrierTrackingNumber": "CarrierTrackingNumber",
    "OrderQty": "OrderQuantity",
    "ProductID": "ProductID",
    "SpecialOfferID": "SpecialOfferID",
    "UnitPrice": "UnitPrice",
    "UnitPriceDiscount": "UnitPriceDiscount",
    "LineTotal": "LineTotal",
    "RowGUID": "RowGUID",
    "ModifiedDate": "SalesOrderDetailModifiedDate",
    "SalesPersonID": "EmployeeID"
}

HumanResourcesDepartment_AdventureWorks.rename(columns=column_mapping_adventureworks, inplace=True)
HumanResourcesEmployee_AdventureWorks.rename(columns=column_mapping_adventureworks, inplace=True)
PersonAddress_AdventureWorks.rename(columns=column_mapping_adventureworks, inplace=True)
Person_AdventureWorks.rename(columns=column_mapping_adventureworks, inplace=True)
ProductionBillOfMaterials_AdventureWorks.rename(columns=column_mapping_adventureworks, inplace=True)
Product_AdventureWorks.rename(columns=column_mapping_adventureworks, inplace=True)
ProductCategory_AdventureWorks.rename(columns=column_mapping_adventureworks, inplace=True)
PurchaseOrderDetail_AdventureWorks.rename(columns=column_mapping_adventureworks, inplace=True)
PurchaseOrderHeader_AdventureWorks.rename(columns=column_mapping_adventureworks, inplace=True)
Vendor_AdventureWorks.rename(columns=column_mapping_adventureworks, inplace=True)
Customer_AdventureWorks.rename(columns=column_mapping_adventureworks, inplace=True)
SalesOrderDetail_AdventureWorks.rename(columns=column_mapping_adventureworks, inplace=True)
SalesOrderHeader_AdventureWorks.rename(columns=column_mapping_adventureworks, inplace=True)
SalesTerritory_AdventureWorks.rename(columns=column_mapping_adventureworks, inplace=True)
Store_AdventureWorks.rename(columns=column_mapping_adventureworks, inplace=True)
Sysdiagrams_AdventureWorks.rename(columns=column_mapping_adventureworks, inplace=True)

### NorthWind Database

In [329]:
column_mapping_northwind = {
    # HumanResources_Department
    "DepartmentID": "DepartmentID",
    "Name": "DepartmentName",
    "GroupName": "DepartmentGroup",
    "ModifiedDate": "DepartmentModifiedDate",

    # HumanResources_Employee
    "BusinessEntityID": "EmployeeID",
    "NationalIDNumber": "NationalID",
    "LoginID": "LoginID",
    "OrganizationNode": "OrganizationNode",
    "OrganizationLevel": "OrganizationLevel",
    "JobTitle": "JobTitle",
    "BirthDate": "BirthDate",
    "MaritalStatus": "MaritalStatus",
    "Gender": "Gender",
    "HireDate": "HireDate",
    "SalariedFlag": "SalariedFlag",
    "VacationHours": "VacationHours",
    "SickLeaveHours": "SickLeaveHours",
    "CurrentFlag": "CurrentEmployeeFlag",
    "rowguid": "RowGUID",
    "ModifiedDate": "EmployeeModifiedDate",

    # Person_Address
    "AddressID": "AddressID",
    "AddressLine1": "AddressLine1",
    "AddressLine2": "AddressLine2",
    "City": "City",
    "StateProvinceID": "StateProvinceID",
    "PostalCode": "PostalCode",
    "SpatialLocation": "SpatialLocation",
    "BusinessEntityID": "EmployeeID",
    "ModifiedDate": "AddressModifiedDate",

    # Person_Person
    "BusinessEntityID": "EmployeeID",
    "PersonType": "PersonType",
    "NameStyle": "NameStyle",
    "Title": "Title",
    "FirstName": "FirstName",
    "MiddleName": "MiddleName",
    "LastName": "LastName",
    "Suffix": "Suffix",
    "EmailPromotion": "EmailPromotion",
    "rowguid": "RowGUID",
    "ModifiedDate": "PersonModifiedDate",

    # Production_BillOfMaterials
    "BillOfMaterialsID": "BillOfMaterialsID",
    "ProductAssemblyID": "ProductAssemblyID",
    "ComponentID": "ComponentID",
    "StartDate": "StartDate",
    "EndDate": "EndDate",
    "UnitMeasureCode": "UnitMeasureCode",
    "BOMLevel": "BOMLevel",
    "PerAssemblyQty": "PerAssemblyQuantity",
    "ModifiedDate": "BOMModifiedDate",

    # Production_Product
    "ProductID": "ProductID",
    "Name": "ProductName",
    "ProductNumber": "ProductNumber",
    "MakeFlag": "MakeFlag",
    "FinishedGoodsFlag": "FinishedGoodsFlag",
    "Color": "ProductColor",
    "SafetyStockLevel": "SafetyStockLevel",
    "ReorderPoint": "ReorderPoint",
    "StandardCost": "StandardCost",
    "ListPrice": "ListPrice",
    "SellStartDate": "SellStartDate",
    "SellEndDate": "SellEndDate",
    "DiscontinuedDate": "DiscontinuedDate",
    "RowGUID": "RowGUID",
    "ProductCategoryID": "ProductCategoryID",
    "ModifiedDate": "ProductModifiedDate",

    # Production_ProductCategory
    "ProductCategoryID": "ProductCategoryID",
    "Name": "CategoryName",
    "RowGUID": "RowGUID",
    "ModifiedDate": "CategoryModifiedDate",

    # Purchasing_PurchaseOrderDetail
    "PurchaseOrderID": "PurchaseOrderID",
    "PurchaseOrderDetailID": "PurchaseOrderDetailID",
    "DueDate": "DueDate",
    "OrderQty": "OrderQuantity",
    "ProductID": "ProductID",
    "UnitPrice": "UnitPrice",
    "LineTotal": "LineTotal",
    "ReceivedQty": "ReceivedQuantity",
    "RejectedQty": "RejectedQuantity",
    "StockedQty": "StockedQuantity",
    "ModifiedDate": "PurchaseOrderDetailModifiedDate",

    # Purchasing_PurchaseOrderHeader
    "PurchaseOrderID": "PurchaseOrderID",
    "RevisionNumber": "RevisionNumber",
    "Status": "OrderStatus",
    "EmployeeID": "EmployeeID",
    "VendorID": "VendorID",
    "ShipMethodID": "ShipMethodID",
    "OrderDate": "OrderDate",
    "ShipDate": "ShippedDate",
    "SubTotal": "SubTotal",
    "TaxAmt": "TaxAmount",
    "Freight": "Freight",
    "TotalDue": "TotalDue",
    "ModifiedDate": "PurchaseOrderHeaderModifiedDate",

    # Purchasing_Vendor
    "BusinessEntityID": "VendorID",
    "AccountNumber": "AccountNumber",
    "Name": "VendorName",
    "CreditRating": "CreditRating",
    "PreferredVendorStatus": "PreferredVendorStatus",
    "ActiveFlag": "ActiveFlag",
    "PurchasingWebServiceURL": "PurchasingWebServiceURL",
    "ModifiedDate": "VendorModifiedDate",

    # Sales_Customer
    "CustomerID": "CustomerID",
    "PersonID": "PersonID",
    "StoreID": "StoreID",
    "TerritoryID": "TerritoryID",
    "AccountNumber": "AccountNumber",
    "RowGUID": "RowGUID",
    "ModifiedDate": "CustomerModifiedDate",

    # Sales_SalesOrderDetail
    "OrderID": "SalesOrderID",
    "SalesOrderDetailID": "SalesOrderDetailID",
    "CarrierTrackingNumber": "CarrierTrackingNumber",
    "Quantity": "OrderQuantity",
    "ProductID": "ProductID",
    "SpecialOfferID": "SpecialOfferID",
    "UnitPrice": "UnitPrice",
    "UnitPriceDiscount": "UnitPriceDiscount",
    "LineTotal": "LineTotal",
    "RowGUID": "RowGUID",
    "ModifiedDate": "SalesOrderDetailModifiedDate"
}

Categories_NorthWind.rename(columns=column_mapping_northwind, inplace=True)
CustomerCustomerDemo_NorthWind.rename(columns=column_mapping_northwind, inplace=True)
CustomerDemographics_NorthWind.rename(columns=column_mapping_northwind, inplace=True)
Customers_NorthWind.rename(columns=column_mapping_northwind, inplace=True)
EmployeeTerritories_NorthWind.rename(columns=column_mapping_northwind, inplace=True)
Employees_NorthWind.rename(columns=column_mapping_northwind, inplace=True)
OrderDetails_NorthWind.rename(columns=column_mapping_northwind, inplace=True)
Orders_NorthWind.rename(columns=column_mapping_northwind, inplace=True)
Products_NorthWind.rename(columns=column_mapping_northwind, inplace=True)
Region_NorthWind.rename(columns=column_mapping_northwind, inplace=True)
Shippers_NorthWind.rename(columns=column_mapping_northwind, inplace=True)
Suppliers_NorthWind.rename(columns=column_mapping_northwind, inplace=True)
Territories_NorthWind.rename(columns=column_mapping_northwind, inplace=True)

# Product

# SalesOrderDetails

In [330]:
# 'OrderHeader' en 'OrderDetails' dataframes per database mergen
df1 = Sales_Order_AenC.merge(Sales_Order_Item_AenC, how='left', on='SalesOrderID')
df2 = SalesOrderHeader_AdventureWorks.merge(SalesOrderDetail_AdventureWorks, left_on='SalesOrderID', right_on='SalesOrderDetailID')
df3 = Orders_NorthWind.merge(OrderDetails_NorthWind, how='left', on='SalesOrderID')

# Aanmaak van de complete dataframe
df = pd.concat([df1, df2, df3], join='outer')

# Drop onnodige columns
df = df.drop(
[  
'Region','RevisionNumber','OnlineOrderFlag','SalesOrderNumber','BillToAddressID', 
'ShipToAddressID','ShipMethodID', 'CreditCardID', 'CreditCardApprovalCode',   
'Comment', 'RowGUID_x', 'SalesOrderDetailModifiedDate_x','SalesOrderDetailID', 
'SpecialOfferID',  'UnitPriceDiscount','RowGUID_y', 'SalesOrderDetailModifiedDate_y', 
'ShipVia',  'ShipAddress', 'ShipCity', 'ShipRegion','ShipPostalCode', 'ShipCountry'
], axis=1)

# Combineer de 'SalesOrderID' columns
df['SalesOrderID'] = df['SalesOrderID_x'].combine_first(df['SalesOrderID_y']).combine_first(df['SalesOrderID'])
df.drop(['SalesOrderID_x','SalesOrderID_y'], axis=1, inplace=True)
df

# [
# 'SalesOrderID','SalesOrderID_x','SalesOrderID_y','PurchaseOrderNumber','EmployeeID','TerritoryID',
# 'CustomerID','AccountNumber','ProductID','OrderDate','ShippedDate','OrderStatus','CurrencyRateID',
# 'Freight','OrderQuantity','OrderLineID','LineTotal','UnitPrice','SubTotal','TaxAmount','Discount',
# 'TotalDue','DueDate','ShipName','RequiredDate','CarrierTrackingNumber'
# ]

/tmp/ipykernel_4291/2749067090.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df1, df2, df3], join='outer')

,SalesOrderID,CustomerID,OrderDate,EmployeeID,OrderLineID,ProductID,OrderQuantity,ShippedDate,DueDate,OrderStatus,...,SubTotal,TaxAmount,Freight,TotalDue,CarrierTrackingNumber,UnitPrice,LineTotal,RequiredDate,ShipName,Discount
0,2001.0,101,14-Mar-2022,299,1.0,300,12,15-Sep-2022,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2001.0,101,14-Mar-2022,299,2.0,301,12,14-Sep-2022,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2001.0,101,14-Mar-2022,299,3.0,302,12,14-Sep-2022,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2002.0,102,18-Mar-2022,467,1.0,400,24,18-Sep-2022,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2002.0,102,18-Mar-2022,467,2.0,401,24,18-Sep-2022,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31460,75119.0,11981,06/30/24 00:00:00,280,NaN,873,1,07/07/24 00:00:00,07/12/24 00:00:00,5.0,...,42.28,3.3824,1.0570,46.7194,NaN,2.29,2.29,NaN,NaN,NaN
31461,75120.0,18749,06/30/24 00:00:00,282,NaN,783,1,07/07/24 00:00:00,07/12/24 00:00:00,5.0,...,84.96,6.7968,2.1240,93.8808,NaN,2294.99,2294.99,NaN,NaN,NaN
31462,75121.0,15251,06/30/24 00:00:00,282,NaN,930,1,07/07/24 00:00:00,07/12/24 00:00:00,5.0,...,74.98,5.9984,1.8745,82.8529,NaN,35.00,35.00,NaN,NaN,NaN
31463,75122.0,15868,06/30/24 00:00:00,282,NaN,878,1,07/07/24 00:00:00,07/12/24 00:00:00,5.0,...,30.97,2.4776,0.7743,34.2219,NaN,21.98,21.98,NaN,NaN,NaN
31464,75123.0,18759,06/30/24 00:00:00,282,NaN,874,1,07/07/24 00:00:00,07/12/24 00:00:00,5.0,...,189.97,15.1976,4.7493,209.9169,NaN,8.99,8.99,NaN,NaN,NaN

# Upload the data to the PostgreSQL database

In [332]:
engine2 = create_engine(f"postgresql://{pg_user}:{pg_password}@{pg_host}:{pg_port}/{pg_dbname}")

df.to_sql('SalesOrderDetails', engine2, if_exists='replace', index=False)

568